[submodule "42_04_cub3d"]
	path = 42_04_cub3d
	url = https://github.com/arieivs/42_04_cub3d.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/Hevhove/minishell
[submodule "webserv"]
	path = webserv
	url = https://github.com/Hevhove/webserv
